{% extends "base.html.j2" %}
{% block title %}All Products{% endblock %}
{% block h2 %}<h2>All Products</h2>{% endblock %}
{% block content %}
<p>Sorry, this application is under construction.</p>
<p>(products/index.html.j2)</p>
{% endblock %}