{% extends "base.html.j2" %}
{% block title %}All Products{% endblock %}
{% block h2 %}<h2>All Products</h2>{% endblock %}
{% block content %}
<p>Sorry, this application is under construction.</p>
<p>(products/index.html.j2)</p>
<p><a href="{{ url_for('.new_product') }}">new product</a></p>
<ul>
{% for product in all_products %}
    <li>{{ product.__dict__ }}<br>
        <a href="{{ url_for('manufacturers.show_manufacturer', id=product.manufacturer.id) }}">details of {{ product.manufacturer.short_brand_name }}</a><br>
        <a href="{{ url_for('.show_product', id=product.id) }}">show details</a>
    </li>
{% endfor %}
</ul>
{% endblock %}