{% extends "base.html.j2" %}
{% block title %}Product Details{% endblock %}
{% block h2 %}<h2>Product Details</h2>{% endblock %}
{% block content %}
<p>Sorry, this application is under construction.</p>
<p>(products/show.html.j2)</p>
{% endblock %}