{% extends "base.html.j2" %}
{% block title %}{{ manufacturer.short_brand_name }} — Edit Manufacturer{% endblock %}
{% block header %}
<h1>Edit Manufacturer</h1>
<nav class="actionbar">
    <ul>
        <li><a href="{{ url_for('.show_manufacturer', id=manufacturer.id) }}">Details</a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}
<form class="update-manufacturer" method="POST" action="{{ url_for('.update_manufacturer', id=manufacturer.id) }}">
    <label for="um-full-name">Full Name:</label>
    <input id="um-full-name" name="full_name" type="text" value="{{ manufacturer.full_name }}" required>
    <label for="um-short-brand-name">Short Brand Name:</label>
    <input id="um-short-brand-name" name="short_brand_name" type="text" value="{{ manufacturer.short_brand_name }}" required>
    <label for="um-trade-website">Trade Website: (optional)</label>
    <input id="um-trade-website" name="trade_website" type="text" value="{{ manufacturer.trade_website|default('', True) }}" placeholder="None">
    <label for="um-trade-telephone">Trade Telephone: (optional)</label>
    <input id="um-trade-telephone" name="trade_telephone" type="tel" value="{{ manufacturer.trade_telephone|default('', True) }}" placeholder="None">
    <label for="um-customer-website">Customer Website: (optional)</label>
    <input id="um-customer-website" name="customer_website" type="text" value="{{ manufacturer.customer_website|default('', True) }}" placeholder="None">
    <label for="um-customer-telephone">Customer Telephone: (optional)</label>
    <input id="um-customer-telephone" name="customer_telephone" type="tel" value="{{ manufacturer.customer_telephone|default('', True) }}" placeholder="None">
    <button type="submit">update manufacturer</button>
</form>
<form method="POST" action="{{ url_for('.delete_manufacturer', id=manufacturer.id) }}">
    <button class="danger" type="submit" {% if not allow_delete %}disabled aria-disabled="true"{% endif %}>delete</button>
</form>
{% endblock %}