{% extends "base.html.j2" %}
{% block title %}Edit Manufacturer{% endblock %}
{% block h2 %}<h2>Edit Manufacturer</h2>{% endblock %}
{% block content %}
<p>Sorry, this application is under construction.</p>
<p>(manufacturers/edit.html.j2)</p>
{% endblock %}