{% extends "base.html.j2" %}
{% block title %}New Manufacturer{% endblock %}
{% block header %}
<h1>New Manufacturer</h1>
<nav class="actionbar">
    <ul>
        <li><a href="{{ url_for('.manufacturers') }}">All Manufacturers</a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}
<form class="create-manufacturer" method="POST" action="{{ url_for('.create_manufacturer') }}">
    <label for="um-full-name">Full Name:</label>
    <input id="um-full-name" name="full_name" type="text"  placeholder="FULL NAME" required>
    <label for="um-short-brand-name">Short Brand Name:</label>
    <input id="um-short-brand-name" name="short_brand_name" type="text" placeholder="SHORT BRAND NAME" required>
    <label for="um-trade-website">Trade Website: (optional)</label>
    <input id="um-trade-website" name="trade_website" type="text" placeholder="TRADE WEBSITE (OPTIONAL)">
    <label for="um-trade-telephone">Trade Telephone: (optional)</label>
    <input id="um-trade-telephone" name="trade_telephone" type="tel" placeholder="TRADE TELEPHONE (OPTIONAL)">
    <label for="um-customer-website">Customer Website: (optional)</label>
    <input id="um-customer-website" name="customer_website" type="text" placeholder="CUSTOMER WEBSITE (OPTIONAL)">
    <label for="um-customer-telephone">Customer Telephone: (optional)</label>
    <input id="um-customer-telephone" name="customer_telephone" type="tel" placeholder="CUSTOMER TELEPHONE (OPTIONAL)">
    <button type="submit">create manufacturer</button>
</form>
{% endblock %}