{% extends "base.html.j2" %}
{% block title %}{{ manufacturer.short_brand_name }} — Manufacturer Details{% endblock %}
{% block header %}
<h1>Manufacturer Details</h1>
<nav class="actionbar">
    <ul>
        <li><a href="{{ url_for('.manufacturers') }}#manufacturer-{{ manufacturer.id }}">All Manufacturers</a></li>
        <li><a href="{{ url_for('.edit_manufacturer', id=manufacturer.id) }}">edit</a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}
<article class="manufacturer-detail" id="manufacturer-{{ manufacturer.id }}">
    <header class="manufacturer-header">
        <h2 class="full-name">{{ manufacturer.full_name }}</h2>
        <h3 class="short-brand-name">{{ manufacturer.short_brand_name }}</h3>
        {% if product_count > 1 %}
        <p>{{ product_count }} products from manufacturer</p>
        {% elif product_count == 1 %}
        <p>1 product from manufacturer</p>
        {% endif %}
        <nav class="actionbar">
            <ul>
                {% if product_count > 0 %}
                <li><a href="{{ url_for('products.products') }}#manufacturer-{{ manufacturer.id }}">All products by {{ manufacturer.short_brand_name }}</a></li>
                {% else %}
                <li><a href="{{ url_for('products.new_product') }}">New product</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% if manufacturer.has_trade_contacts() %}
        <address class="trade-contacts">
            <dl>
                <dt>Trade website:</dt>
                {% if manufacturer.trade_website %}
                <dd><a href="https://example.com/{{ manufacturer.trade_website }}">{{ manufacturer.trade_website }}</a></dd>
                {% else %}
                <dd><i class="none">None</i></dd>
                {% endif %}
                <dt>Trade telephone:</dt>
                {% if manufacturer.trade_telephone %}
                <dd><a href="#tel:{{ manufacturer.trade_telephone }}">{{ manufacturer.trade_telephone }}</a></dd>
                {% else %}
                <dd><i class="none">None</i></dd>
                {% endif %}
            </dl>
        </address>
    {% endif %}
    {% if manufacturer.has_customer_contacts() %}
        <address class="customer-contacts">
            <dl>
                <dt>Customer website:</dt>
                {% if manufacturer.customer_website %}
                <dd><a href="https://example.com/{{ manufacturer.customer_website }}">{{ manufacturer.customer_website }}</a></dd>
                {% else %}
                <dd><i class="none">None</i></dd>
                {% endif %}
                <dt>Customer telephone:</dt>
                {% if manufacturer.customer_telephone %}
                <dd><a href="#tel:{{ manufacturer.customer_telephone }}">{{ manufacturer.customer_telephone }}</a></dd>
                {% else %}
                <dd><i class="none">None</i></dd>
                {% endif %}
            </dl>
        </address>
    {% endif %}
</article>
{% endblock %}