{% extends "base.html.j2" %}
{% block title %}Manufacturer Details{% endblock %}
{% block h2 %}<h2>Manufacturer Details</h2>{% endblock %}
{% block content %}
<p>Sorry, this application is under construction.</p>
<p>(manufacturers/show.html.j2)</p>
{% endblock %}