{% extends "base.html.j2" %}
{% block header %}
<div class="homeheader">
    <h1 class="logotype">StockReady</h1>
</div>
{% endblock %}
{% block content %}
<nav class="home">
    <ul>
        <li><a href="{{ url_for('products.current_inventory') }}">Current Inventory</a></li>
        <li><a href="{{ url_for('products.products') }}">All products</a></li>
        <li><a href="{{ url_for('manufacturers.manufacturers') }}">All manufacturers</a></li>
        <li><a href="{{ url_for('product_types.product_types') }}">Maintain product types</a></li>
    </ul>
</nav>
{% endblock %}