{% extends "base.html.j2" %}
{% block content %}
<p>Sorry, this application is under construction.</p>
<p>(product_types/edit.html.j2)</p>
<form method="POST" action="{{ url_for('.update_product_type', id=product_type.id) }}">
    <label>Name:
        <input name="name" type="text" value="{{ product_type.name }}">
    </label>
    <button type="submit">update product</button>
</form>
{% endblock %}