{% extends "base.html.j2" %}
{% block title %}Edit Product Type{% endblock %}
{% block h2 %}<h2>Edit Product Type</h2>{% endblock %}
{% block content %}
<p>Sorry, this application is under construction.</p>
<p>(product_types/edit.html.j2)</p>
<form method="POST" action="{{ url_for('.update_product_type', id=product_type.id) }}">
    <label>Id:
        <input type="text" disabled readonly value="{{ product_type.id }}">
    </label><br>
    <label>Name:
        <input name="name" type="text" value="{{ product_type.name }}" required>
    </label><br>
    <button type="submit">update product</button>
</form>
{% endblock %}