{% extends "base.html.j2" %}
{% block title %}Maintain Product Types{% endblock %}
{% block header %}
<h1>Maintain Product Types</h1>
<nav class="actionbar">
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}
<!-- New Product Type -->
<details {#open#} class="new-product-type">
    <summary><h2>New Product Type</h2></summary>
    <form method="POST" action="{{ url_for('.create_product_type') }}">
        <label for="npt-name">Name:</label>
        <input id="npt-name" name="name" type="text" placeholder="NAME">
        <button type="submit">create</button>
    </form>
</details>

<ul class="product-type-list">
{% for product_type in all_product_types %}
    <li>
        <article id="product-type-{{ product_type.id }}" class="product-type-row">
            <h2>{{product_type.name}}</h2>
            <nav class="actionbar">
                <ul>
                    <li><a href="{{ url_for('.products', id=product_type.id) }}">list products</a></li>
                    <li><a href="{{ url_for('.edit_product_type', id=product_type.id) }}">edit</a></li>
                </ul>
            </nav>
        </article>
    </li>
{% endfor %}
    <li class="endoflist">
        End of list
    </li>
</ul>
{% endblock %}