{% extends "base.html.j2" %}
{% block title %}{{ product_type.name }} — List Products{% endblock %}
{% block header %}
<h1>List Products</h1>
<h2>{{ product_type.name }}</h2>
<nav class="actionbar">
    <ul>
        <li><a href="{{ url_for('.product_types') }}#product-type-{{ product_type.id }}">All Product Types</a></li>
    </ul>
</nav>
{% endblock %}
{% block content %}
<aside class="product-count">
    {% if (products|length) > 1 %}
    <p>{{ products |length }} products of this type</p>
    {% elif (products|length) == 1 %}
    <p>1 product of this type</p>
    {% endif %}
</aside>
<article class="related-products">
    <ul>
        {% for product in products %}
        <li class="related-products-row">
            <a href="{{ url_for('products.show_product', id=product.id) }}">
                <div>{{ product.manufacturer.short_brand_name }} — {{ product.mpn }}</div>
                <div>{{ product.short_description }}</div>
            </a>
        </li>
        {% else %}
            <li class="norelatedproducts">No products of this type</li>
        {% endfor %}
    </ul>
</article>
{% endblock %}